ClienteWebVBasic/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarEmpresas">
        <s:complexType />
      </s:element>
      <s:element name="listarEmpresasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarEmpresasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarEmpresaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtenerDatosEmpresa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RUC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDatosEmpresaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDatosEmpresaResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarEmpresasSoapIn">
    <wsdl:part name="parameters" element="tns:listarEmpresas" />
  </wsdl:message>
  <wsdl:message name="listarEmpresasSoapOut">
    <wsdl:part name="parameters" element="tns:listarEmpresasResponse" />
  </wsdl:message>
  <wsdl:message name="buscarEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarEmpresa" />
  </wsdl:message>
  <wsdl:message name="buscarEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosEmpresaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDatosEmpresa" />
  </wsdl:message>
  <wsdl:message name="obtenerDatosEmpresaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDatosEmpresaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="listarEmpresas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Listar Empresas con PA</wsdl:documentation>
      <wsdl:input message="tns:listarEmpresasSoapIn" />
      <wsdl:output message="tns:listarEmpresasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarEmpresa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Empresa con PA</wsdl:documentation>
      <wsdl:input message="tns:buscarEmpresaSoapIn" />
      <wsdl:output message="tns:buscarEmpresaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosEmpresa">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener datos de la Empresa con PA</wsdl:documentation>
      <wsdl:input message="tns:obtenerDatosEmpresaSoapIn" />
      <wsdl:output message="tns:obtenerDatosEmpresaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarEmpresas">
      <soap:operation soapAction="http://tempuri.org/listarEmpresas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEmpresa">
      <soap:operation soapAction="http://tempuri.org/buscarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosEmpresa">
      <soap:operation soapAction="http://tempuri.org/obtenerDatosEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarEmpresas">
      <soap12:operation soapAction="http://tempuri.org/listarEmpresas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEmpresa">
      <soap12:operation soapAction="http://tempuri.org/buscarEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDatosEmpresa">
      <soap12:operation soapAction="http://tempuri.org/obtenerDatosEmpresa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44373/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44373/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>